*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* Colors */
  --primary: #6c47ff;
  --accent: 104, 66, 255;
  --secondary: rgb(33, 33, 38);
  --tertiary: rgb(116, 118, 134);
  --white: #fff;
  --green: #005f32;
  --red: #ba181b;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--secondary);
  animation: body--appear 0.5s ease-in-out;
}

@keyframes body--appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

main {
  flex-grow: 1;
}

/* Header component */
.header-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--primary);
  color: var(--white);
}

.header-h1 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.header-btn:hover {
  opacity: 0.8;
}

.header-customClerkBtn {
  display: flex;
}

/* Guest component */
.guest-section {
  margin: 2rem 1rem;
  text-align: center;
}

.guest-h1 {
  width: fit-content;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  margin: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.guest-h2 {
  margin-top: 2rem;
  color: var(--tertiary);
}

.guest-img {
  width: 350px;
  max-width: 80vw;
  height: 350px;
  max-height: 40vh;
  object-fit: cover;
  border-radius: 0.375rem;
  margin: 2rem 0;
  box-shadow: rgb(var(--accent)) 0px 0px 0px 1px,
    rgba(255, 255, 255, 0.07) 0px 1px 1px 0px inset,
    rgba(34, 42, 53, 0.2) 0px 2px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 1px 0px;
}

.guest-h3 {
  font-size: 1.5rem;
}

.guest-paragraph {
  margin: 1.5rem 2rem 2rem;
  color: var(--tertiary);
  font-size: 1.25rem;
}

.guest-btn {
  padding: 0.5rem 2.5rem;
  border: 2px solid var(--primary);
  border-radius: 0.375rem;
  box-shadow: rgb(var(--accent)) 0px 0px 0px 1px,
    rgba(255, 255, 255, 0.07) 0px 1px 1px 0px inset,
    rgba(34, 42, 53, 0.2) 0px 2px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 1px 0px;
  background-color: var(--primary);
  color: var(--white);
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.guest-btn:hover {
  opacity: 0.8;
}

/* Home page */
.homePage-main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 1.25rem;
  text-align: center;
}

.homePage-h2 {
  font-size: 2rem;
}

/* Balance component */
.balance-h2 {
  padding: 0.375rem 0.75rem;
  border: 2px solid var(--primary);
  border-radius: 0.375rem;
  box-shadow: rgb(var(--accent)) 0px 0px 0px 1px,
    rgba(255, 255, 255, 0.07) 0px 1px 1px 0px inset,
    rgba(34, 42, 53, 0.2) 0px 2px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 1px 0px;
  background-color: var(--primary);
  color: var(--white);
}

.incomeExpense-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
}

.incomeExpense-article {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  width: 10rem;
  max-width: 50vw;
  padding: 0.5rem;
  border: 2px solid var(--tertiary);
  border-radius: 0.375rem;
  box-shadow: 1px 1px 4px var(--tertiary);
  background-color: rgba(var(--accent), 0.1);
  font-weight: bold;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

/* Add transaction component*/
.addTransaction-section,
.addTransaction-form,
.addTransaction-article {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.addTransaction-article {
  text-align: start;
}

.addTransaction-label {
  margin-top: 0.5rem;
  font-weight: 600;
}

.addTransaction-input {
  padding: 0.5rem 0.5rem;
  border: 2px solid var(--primary);
  border-radius: 0.375rem;
  background-color: rgba(var(--accent), 0.1);
}

.addTransaction-btn {
  padding: 0.5rem 0.75rem;
  border: 2px solid var(--primary);
  border-radius: 0.375rem;
  margin: 1.5rem 0 1rem;
  box-shadow: rgb(var(--accent)) 0px 0px 0px 1px,
    rgba(255, 255, 255, 0.07) 0px 1px 1px 0px inset,
    rgba(34, 42, 53, 0.2) 0px 2px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 1px 0px;
  background-color: var(--primary);
  color: var(--white);
  font-family: inherit;
  font-size: 0.8125rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.addTransaction-btn:hover {
  opacity: 0.8;
}

/* Transaction list component */
.transactionList-ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  width: 90vw;
  max-width: 500px;
  padding: 0;
}

/* Transaction item component */
.transactionItem-li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border: 2px solid var(--primary);
  border-radius: 0.375rem;
}

.transactionItem-paragraph {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  font-weight: 500;
  text-align: start;
  word-break: break-word;
}

.transactionText {
  width: 55%;
}

.transactionAmount {
  width: 45%;
  text-align: end;
}

.transactionItem-btn {
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--primary);
  border-radius: 0.375rem;
  margin: 0.25rem 0;
  box-shadow: rgb(var(--accent)) 0px 0px 0px 1px,
    rgba(255, 255, 255, 0.07) 0px 1px 1px 0px inset,
    rgba(34, 42, 53, 0.2) 0px 2px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 1px 0px;
  background-color: var(--primary);
  color: var(--white);
  font-family: inherit;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.transactionItem-btn:hover {
  opacity: 0.8;
}

/* Footer component */
.footer-footer {
  padding: 0.25rem;
  margin-top: 2rem;
  background-color: var(--primary);
  text-align: center;
}

.footer-a {
  color: var(--white);
  text-decoration: none;
}

.footer-a:hover {
  opacity: 0.8;
}
