*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* Colors */
  --primary: #6c47ff;
  --secondary: rgb(33, 33, 38);
  --tertiary: rgb(116, 118, 134);
  --white: #fff;
}

body {
  color: var(--secondary);
}

/* Header */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--primary);
  color: var(--white);
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

.header-btn:hover {
  opacity: 0.8;
}

/* Guest component */

.guest-section {
  margin-top: 5rem;
  text-align: center;
}

.guest-paragraph {
  margin: 2rem;
  color: var(--tertiary);
  font-size: 1.25rem;
}

.guest-btn {
  padding: 0.375rem 0.75rem;
  border: 2px solid var(--primary);
  border-radius: 0.375rem;
  box-shadow: rgb(104, 66, 255) 0px 0px 0px 1px,
    rgba(255, 255, 255, 0.07) 0px 1px 1px 0px inset,
    rgba(34, 42, 53, 0.2) 0px 2px 3px 0px, rgba(0, 0, 0, 0.24) 0px 1px 1px 0px;
  background-color: var(--primary);
  color: var(--white);
  font-family: inherit;
  font-size: 0.8125rem;
  cursor: pointer;
}

.guest-btn:hover {
  opacity: 0.8;
}

/* Home Page */
.homePage-main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 2rem;
}

.homePage-heading {
  font-size: 2rem;
}
