*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* Color variables */
  --primary: #6c47ff;
  --accent: 104, 66, 255;
  --secondary: #3a0ca3;
  --white: #fff;
  --green: #005f32;
  --red: #ba181b;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--secondary);
  word-break: break-word;
  animation: appear 0.5s ease-in-out;
}

main {
  flex-grow: 1;
}

button:active {
  scale: 0.95;
}

/* Separate colors */
.green-color {
  color: var(--green);
}

.red-color {
  color: var(--red);
}

.primary-bg {
  background-color: var(--primary);
}

.green-bg {
  background-color: var(--green);
}

.red-bg {
  background-color: var(--red);
}

/* Subtext */
.subText {
  color: var(--secondary);
  font-size: 0.9rem;
  font-weight: 500;
}

/* Transaction text*/
.transactionText {
  width: 55%;
  font-weight: 500;
  text-align: start;
  animation: appear 0.5s ease-in-out;
}

/* Transaction amount */
.transactionAmount {
  width: 45%;
  text-align: end;
  animation: appear 0.5s ease-in-out;
}

/* Btn animation */
.btnAnimation {
  animation: btnAppear 0.5s ease-in-out;
}

/* Header component */
.header-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 0px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--primary);
  color: var(--white);
}

.header-h1 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}

.header-h1:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.header-loggedIn {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}

.header-a {
  all: unset;
  cursor: pointer;
}

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--white);
  color: var(--primary);
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.header-btn:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.header-customClerkBtn {
  display: flex;
}

/* Guest component */
.guest-section,
.expenseTracker-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.5rem;
  max-width: 800px;
  padding: 2rem;
  border-radius: 0.75rem;
  margin: 2rem auto 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  text-align: center;
}

@media (max-width: 800px) {
  .guest-section,
  .expenseTracker-section {
    max-width: 95vw;
    padding: 1rem;
  }
}

.guest-h1,
.expenseTracker-h1 {
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  margin: auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--primary);
  color: var(--white);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.guest-h2,
.expenseTracker-h2 {
  color: var(--secondary);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.guest-img,
.expenseTracker-img {
  max-width: 80vw;
  max-height: 40vh;
  object-fit: cover;
  border-radius: 0.75rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.guest-paragraph {
  max-width: 20rem;
  color: var(--secondary);
  font-size: 1.25rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.guest-btn,
.guest-link,
.expenseTracker-link {
  min-width: 15rem;
  padding: 0.5rem 2.5rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--primary);
  color: var(--white);
  font-family: inherit;
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.guest-btnArrow {
  position: relative;
  top: 0.25rem;
  rotate: 110deg;
}

.guest-btn:hover,
.guest-link:hover,
.expenseTracker-link:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.expenseTracker-aside,
.homePage-aside {
  max-width: 500px;
  font-size: 0.75rem;
}

.expenseTracker-aside p a {
  transition: opacity 0.3s ease-in-out;
}

.expenseTracker-aside p a:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

/* Home, About, ExpenseTracker, NotFound pages */
.homePage-main,
.expenseTracker-main,
.aboutPage-main,
.notFoundPage-main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1.25rem;
  text-align: center;
  max-width: 800px;
  padding: 2rem;
  border-radius: 0.75rem;
  margin: 2rem auto 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

@media (max-width: 800px) {
  .homePage-main,
  .expenseTracker-main,
  .aboutPage-main,
  .notFoundPage-main {
    max-width: 95vw;
    padding: 1rem;
  }
}

.expenseTracker-aside {
  position: relative;
  padding: 1.25rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(var(--accent), 0.1);
  animation: appear 0.5s ease-in-out;
}

.info-closeBtn {
  position: absolute;
  top: 0.1rem;
  right: -0.2rem;
  border: none;
  background-color: transparent;
  color: var(--secondary);
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.info-closeBtn:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.homePage-h2,
.expenseTracker-h2,
.aboutPage-h2,
.notFoundPage-h2 {
  font-size: 1.75rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.info-btn {
  padding: 0.25rem 1rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--primary);
  color: var(--white);
  font-family: inherit;
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.info-btn:hover {
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}

.aboutPage-img {
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: 30vh;
  object-fit: cover;
  border-radius: 0.5rem;
  padding: 1rem;
}

.aboutPage-ul {
  max-width: 600px;
  text-align: start;
}

.aboutPage-link {
  padding: 0.25rem 1rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--primary);
  color: var(--white);
  font-family: inherit;
  font-size: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.aboutPage-link:hover {
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}

.aboutPage-paragraph,
.notFoundPage-paragraph {
  max-width: 600px;
  color: var(--secondary);
  font-size: 1.25rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.aboutPage-h3 {
  margin-top: 1rem;
}

.aboutPage-aside {
  max-width: 600px;
  font-size: 0.75rem;
}

.aboutPage-pre {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.notFoundPage-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.25rem;
  transition: opacity 0.3s ease-in-out;
}

.notFoundPage-link:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

/* Balance component */
.balance-h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.balance-h4 {
  padding: 0.375rem 0.75rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--primary);
  color: var(--white);
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

/* Income/Expense component */
.incomeExpense-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
}

.incomeExpense-article {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  width: 15rem;
  max-width: 90vw;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(var(--accent), 0.1);
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.incomeExpense-h4 {
  padding: 0.25rem;
  background-color: rgba(var(--accent), 0.2);
}

.incomeExpense-paragraph {
  padding: 0 0.25rem 0.25rem;
}

/* Add transaction component*/
.addTransaction-section {
  position: relative;
  padding: 1.5rem 2rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(var(--accent), 0.1);
  width: 90vw;
  max-width: 500px;
  animation: appear 0.5s ease-in-out;
}

.addTransaction-section,
.addTransaction-form,
.addTransaction-article {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.addTransaction-article {
  text-align: start;
}

.addTransaction-label {
  margin-top: 0.5rem;
  font-weight: 600;
}

.addTransaction-input {
  padding: 0.5rem 0.5rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  background-color: rgba(var(--accent), 0.1);
}

.addTransaction-input:out-of-range {
  border: 2px solid var(--red);
}

.addTransaction-btn {
  padding: 0.5rem 0.75rem;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--primary);
  color: var(--white);
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.addTransaction-btn:hover {
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}

.addTransaction-btnClose {
  position: absolute;
  top: 0.25rem;
  right: 0;
  border: none;
  background-color: transparent;
  color: var(--secondary);
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.addTransaction-btnClose:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

/* Transaction list component */
.transactionList-h3 {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.transactionList-ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  width: 95vw;
  max-width: 500px;
  padding: 0;
}

/* Transaction item component */
.transactionItem-li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  min-height: 55px;
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(var(--accent), 0.1);
}

@media (max-width: 500px) {
  .transactionItem-li {
    font-size: 0.9rem;
    width: 90vw;
    margin: auto;
  }
}

.transactionItem-li:hover {
  background-color: rgba(var(--accent), 0.2);
}

.transactionItem-paragraph {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  font-weight: 500;
  text-align: start;
}

.transactionItem-btn {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  margin: 0.25rem 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: var(--white);
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  animation: appear 0.5s ease-in-out;
}

.transactionItem-btn:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.transactionItem-article {
  display: flex;
  gap: 1rem;
  animation: appear 0.5s ease-in-out;
}

/* Footer component */
.footer-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--primary);
  text-align: center;
}

@media (min-width: 500px) {
  .footer-footer {
    padding: 0.5rem 3rem;
  }
}

.footer-a {
  color: var(--white);
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}

.footer-a:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

/* Animation */
@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes btnAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
